h1{
    color :#000000;
    font-style: italic;
    font-family: Arial;

    margin-left: 20px;
}
*{
    color : #000000;
    font-family: 'Courier New', Courier, monospace;
}
.header{
    background-color: rgb(255, 174, 0);
    display: flex;
    justify-content: space-between;
}
.grid{
    display: flex;
    justify-content: space-evenly;

}
.footer{
    display: flex;
    justify-content: flex-end;
}
body{
    background-color: rgb(99, 255, 15);
}
a:link{
    color:burlywood;

}
a:visited{
    color:chartreuse;
}
h2,p{
    margin-left: 42%;
}
.item{
    position:relative;
}
.item h3{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:0;
}
.item:hover h3{
    opacity:1;
}
.item:hover img{opacity:0.3;}